@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scrollbar-width: none; /* Firefox */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

a {
    color: #66cc99;
    text-decoration: none;
}

.clearfix::after,
.clearfix::before {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.bold {
    color: #4a4e51;
    font-weight: 400;
}

.resume-wrapper {
    position: relative;
    text-align: center;
    height: 100%;
}

.container {
    min-height: 600px;
}

.profile {
    background: #fff;
    width: 40%;
    float: left;
    color: #9099a0;
}

.name-wrapper {
    float: left;
    width: 45%;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: #4a4e51;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 60px;
}

li {
    margin-bottom: 10px;
}

.picture-resume-wrapper {
    width: 55%;
    display: block;
    float: left;
}

.picture-resume {
    width: 180px;
    height: 260px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0px;
    display: table;
    position: relative;
    vertical-align: middle;

    span {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        z-index: 10;
        text-align: center
    }

    img {
        border-radius: 50%;
        width: 150px;
    }
}

.background {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle {
    background-color: #fffdff;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle3 {
    background-color: #66cc99;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    animation: pulse 3s linear infinite;
}

.contact-info {
    margin-top: 40px;
    font-weight: 300;
}

.list-titles {
    float: left;
    text-align: left;
    font-weight: 600;
    width: 40%;
    color: #4a4e51;
}

.list-content {
    float: left;
    width: 60%;
    text-align: left;
    font-weight: 300;
}

.contact-presentation {
    text-align: left;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
}

svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.st0,
.st1 {
    fill: #66cc99;
}


.experience {
    background: #3d3e42;
    width: 60%;
    float: left;
    position: relative;
    color: #9099a0;
    font-weight: 300;
    min-height: 100%;
    min-height: 100vh;

    h3.experience-title {
        color: #66cc99;
        text-align: left;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .company-wrapper {
        width: 30%;
        float: left;
        text-align: left;
        padding-right: 5%;
        margin-bottom: 60px;
    }

    .job-wrapper {
        width: 70%;
        float: left;
        text-align: left;
        padding-right: 5%;
        margin-bottom: 60px;
    }

    .experience-title {
        color: white;
        margin-bottom: 15px;
    }
}

.section-padding {
    padding: 60px 60px 40px 40px;
}

.section-wrapper {
    width: 50%;
    float: left;
    text-align: left;
    color: #9099a0;
    font-weight: 300;
    margin-bottom: 20px;

    &:nth-child(3) {
        padding-right: 8%;
    }

    h3.section-title {
        color: #66cc99;
        text-align: left;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .skill-percentage {
        margin-bottom: 10px;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 6px;
            background: #4a4e51;
            display: block;
            margin-top: 3px;
        }

        &::before {
            content: "";
            height: 6px;
            background: #66cc99;
            position: absolute;
            margin-top: 3px;
            bottom: 0;
        }

        &:nth-child(1)::before {
            width: 90%;
            animation: skill_1 0.6s ease;
        }

        &:nth-child(2)::before {
            width: 70%;
            animation: skill_2 0.6s ease;
        }

        &:nth-child(3)::before {
            width: 50%;
            animation: skill_3 0.6s ease;
        }

        &:nth-child(4)::before {
            width: 20%;
            animation: skill_4 0.6s ease;
        }

        &:nth-child(5)::before {
            width: 85%;
            animation: skill_5 0.6s ease;
        }

        &:nth-child(6)::before {
            width: 60%;
            animation: skill_6 0.6s ease;
        }

    }

}

@keyframes skill_1 {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

@keyframes skill_2 {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}

@keyframes skill_3 {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@keyframes skill_4 {
    from {
        width: 0%;
    }

    to {
        width: 20%;
    }
}

@keyframes skill_5 {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}

@keyframes skill_6 {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

@keyframes pulse{
    0%{width:150px;height:150px;}
    50%{width:200px;height:200px;}
    100%{width:150px;height:150px;}
  }